 .navbar {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 50px;
 }

 .NavbarContainer {
     margin: 2%;
 }

 /*
#responsive-navbar-nav {
    justify-content: center;
} */

 .NavItems {
     text-align: center;
     padding: 0 1rem;
     color: white;
     white-space: nowrap;
     font-weight: 600;
     font-size: 2vw;
     padding: 0 1.5vw;
     text-decoration: none;
     flex-wrap: wrap;
 }

 @media (max-width: 768px) {
     .ButtonContainer {
         display: none;
     }

     .NavItemDiv {
         display: flex;
         flex-direction: row;
         align-items: center;
         flex-wrap: wrap;
         max-width: 100%;
         justify-content: flex-start;
     }


     .NavItems {
         text-align: center;
         padding: 0 1rem;
         color: white;
         white-space: nowrap;
         font-weight: 600;
         font-size: 2.8vw;
         padding: 0 1vw;

     }
 }


 .IconPack {
     display: flex;
     align-items: center;

 }

 .Icons {
     margin-right: 20px;
 }

 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body {
     font-family: sans-serif
 }

 .NavMenu {
     color: rgb(255, 255, 255);
     background-color: #010b2c;
     background-color: black;
     justify-content: center;
     border-radius: 30px;
     justify-content: flex-end;
 }

 @media (max-width: 768px) {
     .navbar {
         display: flex;
         justify-content: center;
     }
     .NavItemDiv{
        margin-right: 0;
        margin-left: 20px;
     }

     .NavItems {
         font-size: 0.75rem;
         margin-right: 10px;
     } 

     .Ext {
         display: none;
     }

     .IconPack {
         display: none;
     }
 }

 @media (min-width: 768px) {
     Nav {

         position: relative;
         display: flex;

         .NavItemDiv {
             list-style: none;
             display: flex;
             margin-right: 2.5rem;

             .NavItems {
                 position: relative;
                 display: block;
                display: flex;
                    flex-wrap: wrap;
                 text-transform: uppercase;
                 margin: 20px 0;
                 padding: 10px 20px;
                 text-decoration: none;
                 color: white;
                 font-family: sans-serif;
                 font-size: 14px;
                 font-weight: 600;
                 transition: .5s;
                 z-index: 1;

                 &:before {
                     content: '';
                     position: absolute;
                     top: 0;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     border-top: 2px solid #262626;
                     border-bottom: 2px solid #262626;
                     transform: scaleY(2);
                     opacity: 0;
                     transition: .3s;
                 }

                 &:after {
                     content: '';
                     position: absolute;
                     top: 0px;
                     left: 0;
                     width: 100%;
                     height: 100%;
                     background-color: white;
                     transform: scale(0);
                     opacity: 0;
                     transition: .3s;
                     z-index: -1;
                 }

                 &:hover {
                     color: #000;

                     &:before {
                         transform: scaleY(1);
                         opacity: 1;
                     }

                     &:after {
                         transform: scaleY(1);
                         opacity: 1;
                     }
                 }
             }
         }
     }

 }


 /* Color = background: rgb(11, 92, 88);
background: linear-gradient(137deg, rgba(11, 92, 88, 1) 0%, rgba(1, 11, 44, 1) 45%); */





 /* -------------------------------------------------------------------------- */

 .container-2 {
     width: 250px;
     vertical-align: middle;
     white-space: nowrap;
     position: relative;
     display: flex;
     justify-content: flex-end;
 }

 .container-2 input#search {
     width: 50px;
     height: 50px;
     background: transparent;
     border: none;
     font-size: 13pt;
     float: right;
     color: #262626;
     padding-left: 10px;
     padding-right: 40px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     color: #fff;

     -webkit-transition: width .55s ease;
     -moz-transition: width .55s ease;
     -ms-transition: width .55s ease;
     -o-transition: width .55s ease;
     transition: width .55s ease;
 }

 .container-2 input#search::-webkit-input-placeholder {
     color: #fff;
 }

 .container-2 input#search:-moz-placeholder {
     /* Firefox 18- */
     color: #fff;
 }

 .container-2 input#search::-moz-placeholder {
     /* Firefox 19+ */
     color: #fff;
 }

 .container-2 input#search:-ms-input-placeholder {
     color: #fff;
 }

 .container-2 .icon {
     position: absolute;
     margin-right: 17px;
     margin-top: 17px;
     z-index: 1;
     color: #fff;
 }

 .container-2 input#search:focus,
 .container-2 input#search:active {
     outline: none;
     width: 220px;
 }

 .container-2:hover input#search {
     width: 220px;
 }

 .container-2:hover .icon {
     color: #fff;
 }


 /* -------------------------------------------------------------------------- */

 .dropdown {
     position: relative;
     display: inline-block;
 }

 .dropbtn {
     background-color: rgba(0, 0, 0, 0.493);
     color: black;
     padding: 10px 20px;
     border: none;
     cursor: pointer;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: rgba(179, 211, 233, 0.493);
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }

 .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
 }

 .dropdown-content a:hover {
     background-color: black;
     color: rgba(179, 211, 233, 0.493);
 }

 .dropdown:hover .dropdown-content {
     display: block;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     border-radius: 10px;
     white-space: nowrap;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }

 .dropdown-content a {
     float: none;
     color: black;
     padding: 12px 16px;
     border-radius: 10px;
     text-decoration: none;
     display: block;
     text-align: left;
 }


 .dropdown-content.dropdown-content a {
     transition: all 0.3s ease;
 }

 .dropdown-content a:hover {
     background-color: #ddd;
     color: #000;
     padding-left: 10px;
     border-left: 4px solid #3ca0e7;
     transition: all 0.3s ease;
 }