.NewsContainer {}

body {}

.NewsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.NewsHead {
    border: solid rgba(144, 117, 90, 0.368);
}

.NewsSections {
    background-color: #f0f0f0;
    padding: 20px;
    height: auto;
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
}

.NewsItem {
    display: flex;
    margin: 5%;
}

.NewsText {
    display: flex;
    flex-direction: column;
}

.PopularNews {
    width: 250px;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.popular-news-section {
    border-right: 2px solid;
    border-left: 2px solid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.page-button {
    display: flex;
    justify-content: space-around;
}

.btn-color.btn {
    border: 2px solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0);
}

.NewsBox1{    
    background: linear-gradient(to bottom, #0099f7, #f11712 );
}
.NewsBox2{
    background: linear-gradient(to bottom, #159957, #004c99);
}
.NewsBox3{
        background: linear-gradient(to bottom, #ef94ac, #3b6bef);
}
.NewsBox4{
        background: linear-gradient(to bottom, #e1eec3, #f05053);
}
.NewsDiv1{
    display: flex;
        justify-content: flex-end;
        flex-direction: column;
        text-align: center;
        font-weight: 600;
        color: white;
}